table {
    margin-left: auto;
    margin-right: auto;
    /* this is the only I found to center
    a table */
}

table,
th,
td {
    border: 1px solid black;
}

tr:nth-of-type(odd) {
    background-color: #4002EB;
    color: white;
}

table td a {
    color: #0EEDED;
    text-shadow: 1px 1px 1px #000000;
    text-decoration:
        none;
}

.td_a_Hover:hover,
.td_a_Hover:focus,
.td_a_Hover:active {
    color: #f8b993;
    text-shadow: 1px 1px 1px #000000;
}

td {
    text-align: left;
}

th,
td {
    padding: 5px;
}